<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.NOTIFICATION_POLICY_ACCESS_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DalCommunity"
        tools:targetApi="31">

        <activity
            android:name="com.csci5708.dalcommunity.activity.AnnouncementUserActivity"
            android:exported="false" />
        <activity
            android:name="com.csci5708.dalcommunity.activity.AnnouncementPostActivity"
            android:exported="false" />
        <activity
            android:name="com.csci5708.dalcommunity.activity.AnnouncementActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <activity
            android:name="com.csci5708.dalcommunity.activity.AnswerBroadcastQuestionActivity"
            android:exported="true" />

        <activity
            android:name="com.csci5708.dalcommunity.activity.CreatePollPostActivity"
            android:exported="false" />
        <activity
            android:name="com.csci5708.dalcommunity.activity.LoginSignUpActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.csci5708.dalcommunity.activity.CommonInterestsActivity"
            android:exported="false" />
        <activity
            android:name="com.csci5708.dalcommunity.activity.GetLocationActivity"
            android:exported="false" />
        <activity
            android:name="com.csci5708.dalcommunity.activity.PokeActivity"
            android:exported="false" />
        <activity
            android:name="com.csci5708.dalcommunity.activity.SavedPostGroupsActivity"
            android:exported="false" />
        <activity
            android:name="com.csci5708.dalcommunity.activity.SavedPostsActivity"
            android:exported="false" />
        <activity
            android:name="com.csci5708.dalcommunity.activity.UserPostsActivity"
            android:exported="false" />
        <activity
            android:name="com.csci5708.dalcommunity.activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.csci5708.dalcommunity.activity.AccountSettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.csci5708.dalcommunity.activity.ProfileDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.csci5708.dalcommunity.activity.ProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.csci5708.dalcommunity.activity.PetitionActivity"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.csci5708.dalcommunity.activity.CreatePostActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.csci5708.dalcommunity.activity.CommunityChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.csci5708.dalcommunity.activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name="com.csci5708.dalcommunity.activity.ChatActivity"
            android:exported="false" />

        <service
            android:name="com.csci5708.dalcommunity.firestore.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter android:priority="1">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="com.csci5708.dalcommunity.provider.ImageContentProvider"
            android:authorities="com.example.dalcommunity.imageprovider"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>